*{
  margin:0; 
  padding:0;
  box-sizing: border-box;
}

/* Font */

body {
  font-size: 12pt;
  font-family: 'Mukta', sans-serif;
  background-color: #886946;
}


.container {
  color: #392e22;
  width: 85%;
  margin: 8px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.container h1 {
  font-size: 24pt;
  text-align: center;
}

.container p {
  font-size: 12pt;
  margin: 5px;
  text-align: center;
}

h2 {
  font-size: 16pt;
  margin: 5px 0;
}

hr {
  border: 1px solid #e6e6e6;
  margin: 8px 0;
}

/* Navigation Bar */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  color: white;
  background-color: #392e22;
  border-bottom: 6px solid #644d34;
}

.nav-container h1 {
  flex-grow: 4;
  font-size: 18pt;
}

.nav-container ul {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  list-style: none;
}

.nav-container a {
  padding: 3px 6px;
  border-radius: 2px;
  text-decoration: none;
  color: #f1f1f1;
}

.nav-container ul li a:hover {
  background-color: #f1f1f1;
  color: #644d34;
  border-bottom: 2px solid #644d34;
}

/* input */

input, select {
  border-radius: 3px;
  border-style: none;
  font-family: 'Mukta', sans-serif;
  color: #392e22;
  background-color: #957553;
  margin: 8px 0;
  padding: 5px 10px;
  height: 32px;
  width: 100%;
}

input[type=submit],input[type=reset] {
  margin: 10px 5px 5px 0;
  cursor: pointer;
  /*box-shadow: 1px 1px 2px grey;*/
}

input:focus {
  box-shadow: 0 2px 4px #392e22;
}



/* Cards */

.card {
  flex-grow: 2;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  color: #e6e6e6;
  background-color: #644d34;
  border-radius: 5px;
}

.card label {
  font-style: italic;
  font-size: 9pt;
}

.card-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card .simpan {
  background-color: #a8ea58;
  color: #392e22;
}

.card .reset {
  background-color: salmon;
  color: #392e22;
}

/* Table */

table {
  background-color: #957553;
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
  border-radius: 8px;
}

table, th, td {
  height: 50px;
  text-align: center;
} 

th {
  border-bottom: 5px solid #644d34;
  border-radius: 1em;
  overflow: hidden;
}

table a {
  font-size: 9pt;
  padding: 5px 10px;
  background-color: #392e22;
  color: #e6e6e6;
  text-decoration: none;
  border-radius: 3px;
}

















